* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
/* body {
  min-height: 100vh;
} */
nav {
  background-color: #2f2f2f;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
nav ul {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
}
nav a.first:hover {
  background-color: #F0F0F0;
  background: none;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  color: #ffd84d;
}
nav a.second {
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  color: #7B3f00;
  line-height: 20px;
}
nav a.second:hover {
  border: none;
  color: none;
}
nav .logo:first-child {
  /* margin-right: auto; */
   margin-right: auto;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 70px;
  height: auto;
  background: none;
  padding: none;
}
.sidebar { 
  position: fixed;
  top: 0;
  right: 0;
  height: 90vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
  color: black;
}
.sidebar .register {
  font-size: 18px;
  background-color: #7B3f00;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.menu-button {
  display: none;
}
.menu-icon {
  border: 2px solid #7B3f00;
  border-radius: 30px;
  color: #7B3f00;
}
.exit-icon {
 color: #7B3f00;
}


/* about section */

.sec {
  background-image: url('/assets/FB_IMG_17579665013496388.jpg');
  background-position: right;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  word-spacing: 5px;
  position: relative;
}
.backdrop {
  background-color: rgba(245, 141, 30, 0.15);
  position: absolute;
  width: 100%; 
  height: 100%; 
}
.hero {
  padding-left: 70px;
  width: 100%;
  list-style: 50px;
}
.hero h2 {
  font-size: 50px;
  width: 600px;
  margin-bottom: 5px;
}
.hero p {
  color: #545957;
  font-size: 22px;
  width: 600px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.hero .register {
  font-size: 18px;
  background-color: #7B3f00;
  color: white;
  padding: 10px 30px;
  border: none;
  z-index: 999;
  position: relative;
  border-radius: 10px;
}
.hero .register:hover {
  color: #7B3f00;
  background-color: #fff;
  border: 1px solid #7B3f00; 
  transition:  0.5s ;
  cursor: pointer;
  z-index: 999;
  position: relative;
}
/* nav ends */
main {
  background-color: #f5f5f5;
}
/* about section begins*/
.about-mentor {
  /* background-color: rgb(232, 223, 223); */
  padding: 40px;
  background-color: none;
}
.about {
  display: flex;
  align-items: stretch;
  gap: 10px;
}
.about-text h3 {
  padding-left: 5px;
  font-size: 25px;
  color: #0f1f2a;
  text-transform: capitalize;
}
.dots-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dots-horizontal-3 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: right;
  gap: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}
.dots {
  background-color: #7B3f00;
}
.img-about,
.about-text {
  flex: 1;
}
.img-about img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.about-text p {
  font-family: 'Roboto';
  padding: 5px;
  font-size: 16px;
  color: #545957;
  line-height: 25px;
}
.about-span {
  text-transform: capitalize;
}
.about-text ul {
  padding-left: 20px;
}


/* vision section */
.vision {
  /* background-color: #f7f9fb; */
  /* background-color: rgb(232, 223, 223); */
  padding: 20px;
  padding-top: 40px;
}
 .vision-p {
  text-transform: capitalize;
}
.vision-text h3 {
  padding-top: 20px;
  padding-bottom: 10px;
}
.vision-text {
  padding-left: 30px;
}
.dots-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dots-horizontal-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;

}
.line {
  width: 40px;
  height: 4px;
  background-color: #7B3f00;
  border-radius: 10px;
}
.dots {
  background-color: #7B3f00;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.dots {
  background-color: #7B3f00;
}
.dots-line h3 {
  font-size: 30px;
  text-transform: capitalize;
}
.mentor h3 {
  text-align: center;
  font-size: 25px;
  color: #0f1f2a;
  text-transform: capitalize;
}
.mentor p {
  color: #545957;
  line-height: 30px;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.forum {
  text-transform: capitalize;
}
.vision-p-2 {
  text-transform: capitalize;
}
.vision-text {
  font-size: 16px;
}
.vision-text h3 {
  padding-top: 20px;
}
.be {
  line-height: 25px;
  padding-left: 20px;
}
.vision-text ul .list-1, 
.vision-text ul .list-2,
.vision-text ul .list-3{
  padding-bottom: 10px;
  line-height: 25px;
  font-family: 'Roboto';
  color: #545957;
}
.strong-1,
.strong-2,
.strong-3 {
  color: #333;
}
strong {
  color: #333;
}
.about-convener {
  display: flex;
  /* justify-content: center; */
  align-items: stretch;
  gap: 10px;
  padding: 40px;
  padding-top: 20px;
}
.convener .convener-text ,
.convener-img {
  /* width: 100%;
  height: 100%; */
  /* display: none; */
  flex: 1;
}
.convener-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.convener-img-3 {
  display: none;
}
.convener-text h3 {
  font-size: 25px;
}
.convener-strong {
  text-transform: capitalize;
  font-weight: bold;
  color: black;
}
.convener-text p {
  color: #545957;
  padding-bottom: 10px;
  line-height: 25px;
  font-size: 16px;
}
.dots-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dots-horizontal-4 {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;

}
.line {
  width: 40px;
  height: 4px;
  background-color: #4b0082;
  border-radius: 10px;
}
.dots {
  background-color: #4b0082;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.dots {
  background-color: #4b0082;
}
.convener-2 {
  text-transform: capitalize;
}
.convener-text ul li{
  padding-top: 10px;
  line-height: 25px;
  color: #545957;
}
.convener-text ul  {
   padding-left: 5px;
}
.convener-text li {
  font-size: 16px;
}
.convener-strong-2 {
  text-transform: capitalize;
}

/* testimony section */

/* .testimony {
  background-color: rgb(232, 223, 223); 
  padding: 50px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dots-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 50px;
}
.dots {
  background-color: #7B3f00;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.line {
  width: 40px;
  height: 4px;
  background-color: #7B3f00;
  border-radius: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.testimony h3 {
  padding-bottom: 30px;
  text-align: center;
  font-size: 25px;
}
.opinions {
  background-color:#fff;
  font-family: 'Roboto';
  padding: 40px;
  border-radius: 10px;
}
.texts p{
  font-family: 'Roboto';
  line-height: 25px;
  color: #545957;
}
.stars {
  padding-bottom: 20px;
  font-size: 15px;
  color: gold;
} */
/* testimony ends */

/* contact section */

.flex-container {
  /* background-image: url('/assets/IMG-20250725-WA0000.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh; */
  display: flex;
  background-color: #333;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 50px;
  color: white;
  z-index: 999;
  /* padding: 40px; */
}
.left, 
.right {
  flex: 1;
  padding: 70px;
}
/* .backdrop-2 {
  background-color: rgba(255, 217, 0, 0.251);
  position: absolute;
  width: 100%;
  height: 100%;
} */
.get {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.get .straight-line {
  width: 300px;
  height: 3px;
  background-color: red;
}
.location  ul li{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.location ul .location-icon {
  display: inline-block;
  width: 20px;
}
.span-text {
  font-size: 15px;
  width: 300px;
  line-height: 20px;
}
.follow {
  display: flex;
  gap: 35px;
  align-items: center;
}
.follow .straight-line {
  width: 300px;
  height: 3px;
  background-color: red;
  align-items: center;
}

/* contact ends */

/* gallery begins */
.gallery {
  padding: 30px;
}
.gallery-heading {
  font-weight: lighter;
}
.mentor-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  animation: fadeIn 0.8s ease both;
}
.mentor-images .img {
  height: 90px;
}
.mentor-images .img-4 img {
  height: 155px;
}
.mentor-images .img-5 {
  width: 100%;
  height: 100%;
}
.mentor-images .img-6 img {
  height: 155px;
}
.mentor-images img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.img-12 img{
  height: 155px;
}
.img-15 img {
  height: 155px;
}
.dots-horizontal-5 {
  display: flex;
  gap: 5px;
  padding: 10px;
}




@media(max-width: 480px) {
  .sidebar {
    width: 100%;
  }
  nav {
    padding: 20px;
    width: 100%;
  }
  nav a.second {
    font-size: 18px;
    padding: 20px;
  }

  .sec {
    background-position: right;
    background-size: contain;
    height: 50vh;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    padding: 0;
    padding: 20px;
  }
  .hero h2 {
    font-size: 20px;
    width: 250px;
  }
  .hero p {
    font-size: 15px;
    width: 260px;
  }
  .hero button {
    font-size: 15px;
  }
  /* .testimony {
    padding: 35px;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .testimony h3 {
    font-size: 30px;
    padding-bottom: 0px;
  }
  .opinions {
    padding: 20px 0px;
  }
  .grid-container {
    padding: 0px;
    grid-template-columns: 1fr 1fr;
  }
  .opinions .stars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 13px;
  }
  .texts {
    font-size: 15px;
    display: flex;
  } */

  /* about section */
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-mentor {
    padding: 20px;
    padding-top: 40px;
  }
  .img-about img{
    width: 100%;
    height: 100%;
  }
  .about-text p{
    font-size: 14px;
  }
  .about-text h3 {
    font-size: 22px;
  }
  .about-text 

    /* vision section */
  .vision {
   padding-top: 0px;
   padding: 0;
  }
  .vision-text h3 {
    padding-bottom: 5px;
  }
  .mentor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mentor h3 {
    font-size: 22px;
  }
  .mentor p {
    font-size: 14px;
    line-height: 23px;
  }
  .img {
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  .img img {
    padding: 0px;
  }
  .vision-text ul .list-1,
  .list-2,
  .list-3 {
    font-size: 14px;
  }
   /* convener section */
   .about-convener {
    display: flex;
    flex-direction: column;
   }
   .convener-img {
    width: 100%;
    height: 100%;
    display: none;
   }
   .convener-img img {
    width: 100%;
    height: 100%;
   }
   .convener-img-3 {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    display: flex;
   }
   .convener-img-3 img{
    width: 100%;
    height: 100%;
   }

   /* gallery section */
   .mentor-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
   }
   .mentor-images .img {
    width: 100%;
    height: auto;
   }
   /* .mentor-images .img-4  {
    width: 100%;
   } */
   /* .mentor-images .img-6{
    width: 100%;
    height: 100%;
   }.mentor-images .img-6 img {
    width: 100%;
    height: 250px;
   }
   .mentor-images .img-7 img {
    height: 270px;
   }
   .mentor-images .img-12 img {
    height: 270px;
   }.mentor-images .img-14 img {
    height: 250px;
   }.mentor-images .img-15 img {
    height: 270px;
   } */
   
}

@media (min-width: 481px) and (max-width: 768px) {
  nav a.second {
    font-size: 20px;
  }

  .sec {
    background-position: right;
    background-size: contain;
    height: 60vh;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: flex-start;
    font-size: 40px;
  }
  .hero h2 {
    font-size: 35px;
    width: 400px;
  }
  .hero p {
    font-size: 15px;
  }
  /* about section */
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .testimony {
    padding: 40px;
  }
  .testimony h3 {
    padding-bottom: 10px;
  }
  .testimony .texts {
    text-align: start;
    font-size: 15px;
  }
  .opinions {
    padding: 20px;
  }
  .opinions .stars {
    font-size: 10px;
  }
  .vision {
    padding: 20px;
  }
  .mentor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img {
    padding: 0px;
  } */

  /* convener section */

  .about-convener {
    display: flex;
    flex-direction: column;
  }
  .convener-img {
    width: 100%;
    height: 100%;
    padding: 0px;
    /* display: none; */
  }
  .convener-img  {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: none;
  }
  .convener-img-3 {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .convener-img-3 img {
    width: 100%;
    height: 100%;
  }

}
@media (min-width: 769px) and (max-width: 1024px) {
    .sec {
    background-position: right;
    background-size: contain;
    height: 70vh;
  }
  .hero h2 {
    font-size: 45px;
    width: 600px;
  }
  /* about section */
  .about {
    display: flex;
    flex-direction: column;
  }
  /* convener section */
  /* .about-convener {
    flex-direction: row;
  }
  .convener-img-2 {
    height: auto;
  } */
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .sec {
    background-position: right;
    /* background-size: contain; */
    height: 80vh;
  }
  .hero h2 {
    width: 500px;
  }
}
@media (max-width: 920px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
};




