* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}
/* body {
  min-height: 100vh;
} */
nav {
  background-color: #2f2f2f;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
nav ul {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
}
nav a.first:hover {
  background-color: #F0F0F0;
  background: none;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  color: #ffd84d;
}
nav a.second {
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  color: #7B3f00;
  line-height: 20px;
}
nav a.second:hover {
  border: none;
  color: none;
}
nav li:first-child {
  /* margin-right: auto; */
   margin-right: auto;
}
.sidebar { 
  position: fixed;
  top: 0;
  right: 0;
  height: 90vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
  color: black;
}
.menu-button {
  display: none;
}
.menu-icon {
  border: 2px solid #7B3f00;
  border-radius: 30px;
  color: #7B3f00;
}
.exit-icon {
 color: #7B3f00;
}


/* about section */

.sec {
  background-image: url('/assets/FB_IMG_17579665013496388.jpg');
  background-position: right;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  word-spacing: 5px;
  position: relative;
}
.backdrop {
  background-color: rgba(245, 141, 30, 0.15);
  position: absolute;
  width: 100%; 
  height: 100%; 
}
.hero {
  padding-left: 70px;
  width: 100%;
  list-style: 50px;
}
.hero h2 {
  font-size: 50px;
  width: 600px;
  margin-bottom: 5px;
}
.hero p {
  font-size: 22px;
  width: 600px;
  margin-bottom: 5px;
}
.hero button {
  font-size: 18px;
  background-color: #7B3f00;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
}
.hero button :hover {
  color: #7B3f00;
  background-color: #fff;
   border: 1px solid #7B3f00; 
  transition:  0.5s ;
  cursor: pointer;
  /* color: red; */
}
.main {
  background-color: white;
}
.testimony {
  background-color: rgb(232, 223, 223);
  padding: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.testimony h3 {
  padding-bottom: 30px;
  text-align: center;
  font-size: 25px;
}
.opinions {
  background-color:#fff;
  padding: 40px;
  border-radius: 10px;
}
.stars {
  padding-bottom: 20px;
  font-size: 15px;
  color: gold;
}



@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media(max-width: 480px) {
  .sidebar {
    width: 100%;
  }
  nav {
    padding: 20px;
    width: 100%;
  }
  nav a.second {
    font-size: 18px;
    padding: 20px;
  }

  .sec {
    background-position: center;
    background-size: cover;
    height: 60vh;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    padding: 0;
    padding: 20px;
  }
  .hero h2 {
    font-size: 20px;
    width: 250px;
  }
  .hero p {
    font-size: 15px;
    width: 260px;
  }
  .hero button {
    font-size: 15px;
  }

};
/* @media(max-width: 267px)

/*
@media (min-width: 480px) and (max-width: 780px) {
  nav ul {
  
  }

  .value {
    display: flex;
    flex-direction: column;
  } .img img {
  padding: 0px;
  padding: 10px;
  width: 100%;
  height: 100%;
  } .text-box {
    padding-left: 5px;
    margin: 0px;
  } .importance h3 {
    margin-bottom: 5px;
  }
}*/

/* @media (max-width: 780px)  {
  nav ul{
      display: none;
  }
  .hamburger{
      display: flex;
  }

  .sec{
    background-position: center;
    height: 60vh;
    justify-content: center;
    text-align: center;
  }
  .backdrop{
    background: rgb(123, 63, 0, 0.3);
  }
  .hero{
    padding: 0 15px;
  }
  h2 {
  font-size: 40px
  }
  .forum{
    font-size: 20px;
  }
  .click{
    font-size: 16px;
    padding: 12px;
  }

}  */
