* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
.testimonials {
  animation: side both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  max-width: 600px;
  margin: 4rem auto;
  padding: 0 1rem;
  font-family: system-ui, sans-serif;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.track {
  display: flex;
  transition: transform 0.6s ease;
}

.slide {
  min-width: 100%;
  padding: 2rem;
  background: #f8f8f8;
  border-radius: 14px;
  text-align: center;
}

.slide p {
  font-size: 1.1rem;
  line-height: 1.6;
  font-style: italic;
}

.slide h4 {
  margin-top: 1rem;
  font-weight: 600;
  color: #555;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #7B3f00;
  color: #fff;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}

.prev { left: -10px; }
.next { right: -10px; }

.dots-testimonials {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dots-testimonials button {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  border: none;
  background: #ccc;
  cursor: pointer;
}
.testimonials h3 {
  text-align: center;
  font-size: 25px;
  font-family: 'Poppins';
}
.dots-horizontal-6 {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
/* .dots-horizontal-5 .dots {
  display: flex;
} */
.stars {
  color: gold;
}

.dots-testimonials button.active {
  background: #7B3f00;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
/* body {
  min-height: 100vh;
} */
nav {
  background-color: #2f2f2f;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* position: sticky; */
}
nav ul {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
}
nav li {
  height: 40px;
  /* padding-top: 20px; */
}
/* nav li svg {
  margin-top: 40px;
  margin-bottom: 20px;
} */
nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
}

nav a.first:hover {
  background-color: #F0F0F0;
  background: none;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  color: #ffd84d;
}
nav a.second {
  font-size: 18px;
  /* margin-top: 30px; */
  font-weight: bold;
  width: 150px;
  color: #7B3f00;
  line-height: 20px;
}
nav a.second:hover {
  border: none;
  color: none;
}
nav .logo:first-child {
  /* margin-right: auto; */
   margin-right: auto;
}
.first-1 {
  padding-top: 60px;
}
nav a.second-1 {
  padding-top: 40px;
  font-size: 18px;
  font-weight: bold;
  width: 150px;
  color: #7B3f00;
  line-height: 20px;
}
.logo {
  display: flex;
  align-items: center;
}
/* .logo img {
  width: 70px;
  height: auto;
  background: none;
  padding: none;
} */
.sidebar { 
  position: fixed;
  top: 0;
  right: 0;
  height: 90vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
  color: black;
}
.sidebar .register {
  font-size: 18px;
  background-color: #7B3f00;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 60px;
  z-index: 999;
}
.menu-button {
  display: none;
}
.menu-icon {
  border: 2px solid #7B3f00;
  border-radius: 30px;
  color: #7B3f00;
}
.exit-icon {
 color: #7B3f00;
}


@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes side {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
  }
/* about section */

.sec {
  background-image: url('/assets/FB_IMG_17579665013496388.jpg');
  background-position: right;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  word-spacing: 5px;
  position: relative;
}
.backdrop {
  background-color: rgba(245, 141, 30, 0.15);
  position: absolute;
  width: 100%; 
  height: 100%; 
}
.hero {
  padding-left: 70px;
  width: 100%;
  list-style: 50px;
}
.hero h2 {
  font-family: "Poppins";
  font-size: 50px;
  width: 600px;
  margin-bottom: 5px;
}
.hero p {
  color: #545957;
  font-size: 22px;
  width: 600px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.hero .register {
  font-size: 18px;
  background-color: #7B3f00;
  color: white;
  padding: 10px 30px;
  border: none;
  z-index: 700;
  position: relative;
  border-radius: 10px;
}
.hero .register:hover {
  color: #7B3f00;
  background-color: #fff;
  border: 1px solid #7B3f00; 
  transition:  0.5s ;
  cursor: pointer;
  z-index: 999;
  position: relative;
}
/* nav ends */
main {
  background-color: #f5f5f5;
}
/* about section begins*/
.about-mentor {
   animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  /* background-color: rgb(232, 223, 223); */
  padding: 40px;
  background-color: none;
}
.about-mentor span{
  text-align: center;
}
.about {
  display: flex;
  align-items: stretch;
  gap: 10px;
}
.about-text h3 {

  font-family: "Poppins";
  padding-left: 5px;
  font-size: 25px;
  color: #0f1f2a;
  text-transform: capitalize;
}
.dots-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dots-horizontal-3 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: right;
  gap: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}
.dots {
  background-color: #7B3f00;
}
.img-about,
.about-text {
  flex: 1;
}
/* .img-about {
    animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.about-text {
   animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
} */
.img-about img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.about-text p {
  font-family: 'Roboto';
  padding: 5px;
  font-size: 16px;
  color: #545957;
  line-height: 25px;
}
.about-span {
  text-transform: capitalize;
}
.about-text ul {
  padding-left: 20px;
}


/* vision section */
.vision {
   animation: side linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  /* background-color: #f7f9fb; */
  /* background-color: rgb(232, 223, 223); */
  padding: 20px;
  padding-top: 40px;
}
 .vision-p {
  text-transform: capitalize;
}
.vision-text h3 {
  padding-top: 20px;
  padding-bottom: 10px;
}
.vision-text {
  padding-left: 30px;
}
.dots-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dots-horizontal-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;

}
.line {
  width: 40px;
  height: 4px;
  background-color: #7B3f00;
  border-radius: 10px;
}
.dots {
  background-color: #7B3f00;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.dots {
  background-color: #7B3f00;
}
.dots-line h3 {
  font-size: 30px;
  text-transform: capitalize;
}
.mentor h3 {
  font-family: "Poppins";
  text-align: center;
  font-size: 25px;
  color: #0f1f2a;
  text-transform: capitalize;
}
.mentor p {
  color: #545957;
  line-height: 30px;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.forum {
  text-transform: capitalize;
}
.vision-p-2 {
  text-transform: capitalize;
}
.vision-text {
  font-size: 16px;
}
.vision-text h3 {
  padding-top: 20px;
  font-family: "Poppins";
}
.be {
  line-height: 25px;
  padding-left: 20px;
}
.vision-icons {
  padding: 30px;
}
.vision-header {
  text-align: center;
  padding-bottom: 20px;
}
.vision-icons h3 {
  font-family: "Poppins";
  font-size: 18px;
}
.flex-vision-icons {
  display: flex;
  gap: 20px;
}
.Godly-icons,
.responsible-icons,
.intentional-icons  {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  padding: 10px;
  transition: transform 0.3s, color 0.3s;

}
.flex-vision-icons svg {
  width: 65px;
  height: 65px;
}
.vision-icons svg {
  background: whitesmoke;
  padding: 20px;
  border-radius: 50%;
}
.vision-icons p {
  font-size: 16px;
  color: #545957;
  line-height: 25px;
}
.Godly-icons:hover svg{
  background-color: #7B3f00;
  color: white;
  transform: scale(1.1);
  transition: transform 0.3s, color 0.3s;
}
.responsible-icons:hover svg{
  background-color: #7B3f00;
  color: white;
  transform: scale(1.1);
  transition: transform 0.3s, color 0.3s;
}
.intentional-icons:hover svg {
  background-color: #7B3f00;
  color: white;
  transform: scale(1.1);
  transition: transform 0.3s, color 0.3s;
}



/* .vision-text ul .list-1, 
.vision-text ul .list-2,
.vision-text ul .list-3{
  padding-bottom: 10px;
  line-height: 25px;
  font-family: 'Roboto';
  color: #545957;
} */
/* .strong-1,
.strong-2,
.strong-3 {
  color: #333;
} */
strong {
  color: #333;
}

/* convener */
.about-convener {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  display: flex;
  /* justify-content: center; */
  align-items: stretch;
  gap: 10px;
  padding: 40px;
  padding-top: 20px;
}
.convener .convener-text,
.convener-img {
  /* width: 100%;
  height: 100%; */
  /* display: none; */
  flex: 1;
}
.convener-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.convener-img-3 {
  display: none;
}
.convener-text h3 {
  font-size: 25px;
}
.convener-strong {
  text-transform: capitalize;
  font-weight: bold;
  color: black;
}
.convener-text p {
  color: #545957;
  padding-bottom: 10px;
  line-height: 25px;
  font-size: 16px;
}
.dots-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dots-horizontal-4 {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;

}
.line {
  width: 40px;
  height: 4px;
  background-color: #7B3f00;
  border-radius: 10px;
}
.dots {
  background-color: #7B3f00;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.dots {
  background-color: #7B3f00;
}
.convener-2 {
  text-transform: capitalize;
}
.convener-text ul li{
  padding-top: 10px;
  line-height: 25px;
  color: #545957;
}
.convener-text ul  {
   padding-left: 5px;
}
.convener-text li {
  font-size: 16px;
}
.convener-strong-2 {
  text-transform: capitalize;
}

/* testimony section */

/* .testimony {
  background-color: rgb(232, 223, 223); 
  padding: 50px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dots-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 50px;
}
.dots {
  background-color: #7B3f00;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.line {
  width: 40px;
  height: 4px;
  background-color: #7B3f00;
  border-radius: 10px;
}
.grid-container {
  display: flex;
  gap: 20px;
}
.opinions::-webkit-scrollbar {
  display: none;
}
.texts, .stars {
  overflow-x: auto;
  margin: 3em auto ;
  width: 100%;
  flex: 0 0 20em;
}
.testimony h3 {
  padding-bottom: 30px;
  text-align: center;
  font-size: 25px;
}
.opinions {
  background-color:#fff;
  font-family: 'Roboto';
  padding: 40px;
  border-radius: 10px;
}
.texts p{
  font-family: 'Roboto';
  line-height: 25px;
  color: #545957;
}
.stars {
  padding-bottom: 20px;
  font-size: 15px;
  color: gold;
} */


/* testimony ends */


/* gallery begins */
/* .gallery {
  padding: 30px;
}
.gallery-heading {
  font-weight: lighter;
}
.mentor-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  animation: fadeIn 0.8s ease ;
}
.mentor-images .img {
  width: 100%;
  height: 100%;
}
.mentor-images .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mentor-images .img-4 img {
  height: 155px;
}
.mentor-images .img-5 {
  width: 100%;
  height: 100%;
}
.mentor-images .img-6 img {
  height: 155px;
}
.mentor-images img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.img-12 img{
  height: 155px;
}
.img-15 img {
  height: 155px;
}
.dots-horizontal-5 {
  display: flex;
  gap: 5px;
  padding: 10px;
} */

/* contact section */

.flex-contact {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  /* background-image: url('/assets/IMG-20250725-WA0000.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh; */
  display: flex;
  background-color: #333;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 60px;
  color: white;
  z-index: 999;
  /* padding: 40px; */
}
.left, 
.right {
  flex: 1;
  padding: 30px;
}
/* .backdrop-2 {
  background-color: rgba(255, 217, 0, 0.251);
  position: absolute;
  width: 100%;
  height: 100%;
} */
.get {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 25px;
}
.get span {
  width: 150px;
  font-family: "Roboto Slab" , sans-serif;
  font-size: 15px;
  font-weight: bolder;
}
.get .straight-line {
  width: 100%;
  height: 1px;
  background-color: #f5f5f5;
}
.location {
  /* width: 100%;
  height: 100%; */
  padding: 5px;
}
.location  ul li{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
.location ul .location-icon {
  display: inline-block;
  width: 20px;
}
.span-text {
  font-size: 15px;
  width: 300px;
  line-height: 30px;
  font-family: 'Poppins';
}
.follow {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 100px;
  width: 100%;
}
.follow .straight-line {
  width:  100%;
  height: 1px;
  background-color: #F0F0F0;
  align-items: center;
}
.follow span {
  width: 100px;
  font-weight: bolder;
  font-size: 15px;
  font-family: "Roboto Slab" , sans-serif;
}
.follow-svg {
  display: flex;
  justify-content: start;
  gap: 20px;
  padding-top: 30px;
}
.facebook-svg,
.instagram-svg,
.youtube-svg,
.whatsapp-icon{
  border-radius: 10px;
  background: white;
  padding: 15px;
  transition: 0.5s;
  width: 100%;
}
.youtube-svg:hover,
.facebook-svg:hover,
.instagram-svg:hover,
.whatsapp-icon:hover
{
  background-color: #ffffff5d;
}

/* {
  background-color: white;
  padding: 15px;
} */
/* registration section */
.registration {
  background: #7B3f00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.registration h4 {
  font-size: 25px;
  font-family: 'Roboto';
}
form .inputs {
  padding: 10px;
}
.inputs input {
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  width: 100%;
  outline: none;
}
.input::placeholder{
  color:
 #545957;
}
label {
  font-size: 13px;
  font-size: 'Poppins';
}
.inputs button {
  background-color: #fff;
  border: none;
  color: #5a2d82;
  font-size: 18px;
  padding: 15px 40px;
  font-family: 'Roboto';
  font-weight: bold;
  transition: 0.2s all;
}.inputs button:hover {
  color: #ffd84d;
  transition: 0.5s all;
}
/* contact ends */



@media(max-width: 480px) {
  .sidebar {
    width: 100%;
  }
  nav {
    padding: 20px;
    width: 100%;
  }
  nav a.second {
    font-size: 18px;
    padding: 20px;
  }
  nav a.second-1 {
    font-size: 18px;
    padding: 20px;
  }

  .sec {
    background-position: right;
    background-size: contain;
    height: 70vh;
  }
  .hero {
    display: flex6
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    padding: 0;
    padding: 20px;
  }
  .hero h2 {
    font-size: 20px;
    width: 250px;
  }
  .hero p {
    font-size: 15px;
    width: 260px;
  }
  .hero button {
    font-size: 15px;
  }
  /* .testimony {
    padding: 35px;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .testimony h3 {
    font-size: 30px;
    padding-bottom: 0px;
  }
  .opinions {
    padding: 20px 0px;
  }
  .grid-container {
    padding: 0px;
    grid-template-columns: 1fr 1fr;
  }
  .opinions .stars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 13px;
  }
  .texts {
    font-size: 15px;
    display: flex;
  } */

  /* about section */
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-mentor {
    padding: 20px;
    padding-top: 40px;
  }
  .img-about img{
    width: 100%;
    height: 100%;
  }
  .about-text p{
    font-size: 14px;
  }
  .about-text h3 {
    font-size: 22px;
  }
  .about-text 

    /* vision section */
  .vision {
   padding-top: 0px;
   padding: 0;
  }
  .vision-text h3 {
    padding-bottom: 5px;
  }
  .mentor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mentor h3 {
    font-size: 22px;
  }
  .mentor p {
    font-size: 14px;
    line-height: 23px;
  }
  .img {
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  .img img {
    padding: 0px;
  }
  .vision-text ul .list-1,
  .list-2,
  .list-3 {
    font-size: 14px;
  }
  .flex-vision-icons {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }
  .vision-icons svg {
    padding: 20px;
    margin: 2px;
    border-radius: 50%;
  }
  .Godly-icons,
  .responsible-icons,
  .intentional-icons{
    width: 100%;
    width: 128%;
    
    gap: 20px;
    align-items: normal;
  }
  .vision-icons p {
    font-size: 14px;
    width: 100%;
    /* width: 100%; */
  }
  .flex-vision-icons svg {
    width: 60px;
    height: 65px;
  }
   /* convener section */
   .about-convener {
    display: flex;
    flex-direction: column;
   }
   .convener-img {
    width: 100%;
    height: 100%;
    display: none;
   }
   .convener-img img {
    width: 100%;
    height: 100%;
   }
   .convener-img-3 {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    display: flex;
   }
   .convener-img-3 img{
    width: 100%;
    height: 100%;
   }

   /* gallery section */
   .mentor-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
   }
   .mentor-images .img-4  {
    display: none;
   }
   .mentor-images .img-6{
    display: none;
   }
   .mentor-images .img-6 img {
    display: none;
   }
   .mentor-images .img-7 img {
    display: none;
   }
   .mentor-images .img-12 img {
    display: none;
   }
   .mentor-images .img-15 img {
    display: none;
   }

   /* contact section */
   .flex-contact {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 50px;
    gap: 20px;
   }
   .left {
    padding-top: 30px;
   }
   .get {
    padding: 20px;
    padding-left: 5px;
   }
   .get span {
    width: 180px;
    font-size: 15px;
    font-family: "Roboto Slab" , sans-serif;
   }
   
   .location {
    padding-top: 0px;
    padding-left: 20px;
   }
   .location ul .location-icon{
    width: 15px;
   }
   .location .span-text {
    font-size: 14px;
   }
   .follow {
    padding-top: 120px;
    padding-left: 5px; 
    gap: 10px;
   }
   .follow span {
    width: 150px;
   }
   .follow .straight-line {
    height: 1px;
   }
   .follow-svg {
    padding-top: 30px;
   }
   .youtube-svg:hover,
   .facebook-svg:hover,
   .instagram-svg:hover,
   .whatsapp-icon:hover {
    background-color: none;
   }
   /* registration section */
   .right {
    padding-top: 0px;
   }
   .right h4{
    font-size: 20px;
   }
   .inputs input{
    padding-right: 130px;
  }
  .inputs button {
    padding: 10px;
    font-size: 15px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {

  nav a.second {
    font-size: 20px;
  }

  .sec {
    background-position: right;
    background-size: contain;
    height: 60vh;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: flex-start;
    font-size: 40px;
  }
  .hero h2 {
    font-size: 35px;
    width: 400px;
  }
  .hero p {
    font-size: 15px;
  }
  /* about section */
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* vision section */
  .vision {
    padding: 20px;
  }
  .mentor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flex-vision-icons {
    display: flex;
    flex-direction: column;
  }

  /* convener section */

  .about-convener {
    display: flex;
    flex-direction: column;
  }
  .convener-img {
    width: 100%;
    height: 100%;
    padding: 0px;
    /* display: none; */
  }
  .convener-img  {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: none;
  }
  .convener-img-3 {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .convener-img-3 img {
    width: 100%;
    height: 100%;
  }

  /* gallery section */
  .mentor-images {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px, 1fr));
    gap: 5px;
  }
  .flex-contact {
    display: flex;
    flex-direction: column;
  }

}
@media (min-width: 520px) and (max-width: 674px ) {
    .mentor-images {
      gap: 5px;
    }
    .mentor-images .img-3 img{
      height: 97%;
    }
    .mentor-images .img-4 img {
      height: 97%;
    }
    .mentor-images .img-5 img {
      height: 97%;
    }
    .mentor-images .img-9 img {
      height: 100%;
    }
    .img-10 img {
      height: 99.5%;
    }
    .img-15 img {
      height: 97%;
    }
}
  /* @media (min-width: 675px) and (max-width: 768px) {
    .mentor-images {
      gap: 5px;
    }
    .img-15 img {
      height: 99%;
    }
  } */
@media (min-width: 769px) and (max-width: 1024px) {
    .sec {
    background-position: right;
    background-size: contain;
    height: 70vh;
  }
  .hero h2 {
    font-size: 45px;
    width: 600px;
  }
  /* about section */
  .about {
    display: flex;
    flex-direction: column;
  }
  .flex-vision-icons {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 875px) and (max-width: 1025px) {
  /* .img-4 img {
    height: 0%;
    /* width: 100%; 
  } */
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .sec {
    background-position: right;
    /* background-size: contain; */
    height: 80vh;
  }
  .hero h2 {
    width: 500px;
  }
}
@media (max-width: 920px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
};




