* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}
/* body {
  min-height: 100vh;
} */
nav {
  background-color: #2f2f2f;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
nav ul {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
}
nav a.first:hover {
  background-color: #F0F0F0;
  background: none;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  color: #ffd84d;
}
nav a.second {
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  color: #7B3f00;
  line-height: 20px;
}
nav a.second:hover {
  border: none;
  color: none;
}
nav .logo:first-child {
  /* margin-right: auto; */
   margin-right: auto;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0;
}
.logo img {
  width: 40px;
  height: auto;
}
.sidebar { 
  position: fixed;
  top: 0;
  right: 0;
  height: 90vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
  color: black;
}
.menu-button {
  display: none;
}
.menu-icon {
  border: 2px solid #7B3f00;
  border-radius: 30px;
  color: #7B3f00;
}
.exit-icon {
 color: #7B3f00;
}


/* about section */

.sec {
  background-image: url('/assets/FB_IMG_17579665013496388.jpg');
  background-position: right;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  word-spacing: 5px;
  position: relative;
}
.backdrop {
  background-color: rgba(245, 141, 30, 0.15);
  position: absolute;
  width: 100%; 
  height: 100%; 
}
.hero {
  padding-left: 70px;
  width: 100%;
  list-style: 50px;
}
.hero h2 {
  font-size: 50px;
  width: 600px;
  margin-bottom: 5px;
}
.hero p {
  color: #545957;
  font-size: 22px;
  width: 600px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.hero button {
  font-size: 18px;
  background-color: #7B3f00;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
}
.hero button :hover {
  color: #7B3f00;
  background-color: #fff;
   border: 1px solid #7B3f00; 
  transition:  0.5s ;
  cursor: pointer;
}

/* testimony section */
.main {
  background-color: white;
}
.testimony {
  background-color: rgb(232, 223, 223);
  padding: 50px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dots-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 50px;
}
.dots {
  background-color: #7B3f00;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.line {
  width: 40px;
  height: 4px;
  background-color: #7B3f00;
  border-radius: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.testimony h3 {
  padding-bottom: 30px;
  text-align: center;
  font-size: 25px;
}
.opinions {
  background-color:#fff;
  padding: 40px;
  border-radius: 10px;
}
.stars {
  padding-bottom: 20px;
  font-size: 15px;
  color: gold;
}

.vision {
  background-color: #f7f9fb;
  padding: 50px;
}
.dots-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dots-horizontal-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;

}
.dots {
  background-color: #7B3f00;
}
.dots-line h3 {
  font-size: 30px;
  text-transform: capitalize;
}
.mentor {
 display: flex;
 flex-direction: row;
 justify-content: center;
 /* align-items: center; */
 gap: 20px;
}
.mentor h3 {
  text-align: center;
  font-size: 25px;
  color: #0f1f2a;
}
.mentor p {
  color: #545957;
  line-height: 30px;
  font-size: 15px;
}
.img {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.raising {
  width: 100%;
  height: 100%;
}
.forum {
  text-transform: capitalize;
}
.vision-text ul .list-1{
  padding-bottom: 10px;
  line-height: 25px;
  font-family: 'Roboto';
  color: #545957;
}
.vision-text ul .list-2 {
  padding-bottom: 10px;
  line-height: 25px;
  font-family: 'Roboto';
  color: #545957;
}
.vision-text ul .list-3 {
  padding-bottom: 10px;
  line-height: 25px;
  font-family: 'Roboto';
  color: #545957;
}
.strong-1,
.strong-2,
.strong-3 {
  color: #333;
}
strong {
  color: #333;
}
/* .vision-text {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */



@media(max-width: 480px) {
  .sidebar {
    width: 100%;
  }
  nav {
    padding: 20px;
    width: 100%;
  }
  nav a.second {
    font-size: 18px;
    padding: 20px;
  }

  .sec {
    background-position: right;
    background-size: contain;
    height: 50vh;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    padding: 0;
    padding: 20px;
  }
  .hero h2 {
    font-size: 20px;
    width: 250px;
  }
  .hero p {
    font-size: 15px;
    width: 260px;
  }
  .hero button {
    font-size: 15px;
  }
  .testimony {
    padding: 35px;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .testimony h3 {
    font-size: 30px;
    padding-bottom: 0px;
  }
  .opinions {
    padding: 20px 0px;
  }
  .grid-container {
    padding: 0px;
    grid-template-columns: 1fr 1fr;
  }
  .opinions .stars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 13px;
  }
  .opinions .texts {
    font-size: 15px;
    text-align: center;
  }
  /* vision section */
  .vision {
    padding: 10px;
  }
  .mentor {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mentor h3 {
    font-size: 20px;
  }
  .mentor p {
    font-size: 14px;
    line-height: 23px;
  }
  .img {
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  .img img {
    padding: 0px;
  }
  .vision-text ul .list-1,
  .list-2,
  .list-3 {
    font-size: 14px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  nav a.second {
    font-size: 20px;
  }

  .sec {
    background-position: right;
    background-size: contain;
    height: 60vh;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: flex-start;
    font-size: 30px;
  }
  .hero h2 {
    font-size: 35px;
    width: 400px;
  }
  .hero p {
    font-size: 15px;
  }

  .testimony {
    padding: 40px;
  }
  .testimony h3 {
    padding-bottom: 10px;
  }
  .testimony .texts {
    text-align: start;
    font-size: 15px;
  }
  .opinions {
    padding: 20px;
  }
  .opinions .stars {
    font-size: 10px;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {

}

/* @media (min-width: 1025px) and (max-width: 1199px) {

} */

@media (max-width: 920px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}





