* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #2f2f2f;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* position: fixed;
  left: 0;
  right: 0;
  z-index: 999; */
}
nav ul {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
}
nav li {
  height: 40px;
  /* padding-top: 20px; */
}
nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto';
}

nav a.first:hover {
  background-color: #F0F0F0;
  background: none;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  color: #ffd84d;
}
nav a.second {
  font-size: 20px;
  /* margin-top: 30px; */
  font-weight: bold;
  width: 150px;
  color: #7B3f00;
  line-height: 20px;
}
nav a.second:hover {
  border: none;
  color: none;
}
nav .logo:first-child {
  /* margin-right: auto; */
   margin-right: auto;
}
.nav-about,
.nav-vision,
.nav-testimonies,
.nav-gallery,
.nav-contact {
  padding-top: 30px;
}
/* a.first-1 {
  padding-top: 60px;
} */
nav a.second-1 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #7B3f00;
  line-height: 20px;
}
.logo {
  display: flex;
  align-items: center;
}
/* .logo img {
  width: 70px;
  height: auto;
  background: none;
  padding: none;
} */
.sidebar { 
  position: absolute;
  top: 0;
  right: 0;
  height: 90vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
  color: black;
}
.sidebar .register {
  font-size: 18px;
  background-color: #7B3f00;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
  z-index: 999;
}
.menu-button {
  display: none;
}
.menu-icon {
  border: 2px solid #7B3f00;
  border-radius: 30px;
  color: #7B3f00;
}
.exit-icon {
 color: #7B3f00;
}

/* gallery heading */
.gallery-heading {
  background-color: rgba(245, 141, 30, 0.15);
  width: 100%;
  height: 50vh;
  padding: 60px;
  font-size: 40px;
  font-family: "Poppins";
}

.days {
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.dots-horizontal-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;

}
.line {
  width: 40px;
  height: 4px;
  background-color: #7B3f00;
  border-radius: 10px;
}
.dots {
  background-color: #7B3f00;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.dots {
  background-color: #7B3f00;
}


/* gallery section */
.gallery {
  padding: 40px;
}
.gallery-heading {
  text-align: start;
}
.mentor-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
.mentor-gallery .img {
  width: 100%;
  height: 100%;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  padding: 30px;
  background-color: #333;
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: 'Roboto' , sans-serif;
  width: 100%;
}



@media (max-width: 480px) {
  .gallery-heading {
    text-align: center;
    font-size: 25px; 
  }
  .gallery {
    height: 10vh;
    width: 100%;
    align-items: center;
  }
}
@media (max-width: 920px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}